.anjuta
*.anjuta
.tm*
*/*/csl.log
*~
*.swp
*.o
*.a
*.cmake
*.make
*.xdrbin
*.z1
*.kdev4
t__*.exe
ex_*.exe
_site/
*.dir
CMakeCache.txt
CMakeFiles
CMakeFiles/
CMakeFiles/*
cmake_install.cmake
Makefile
*/CMakeCache.txt
*/CMakeFiles
*/CMakeFiles/
*/CMakeFiles/*
*/cmake_install.cmake
*/Makefile
*/CMakeCache.txt
*/CMakeFiles
*/CMakeFiles/
*/CMakeFiles/*
*/cmake_install.cmake
*/Makefile
test/comm/t__comm_iface
test/comm/t__mt_udp
test/comm/t__udp_client
test/comm/t__udp_pkt
test/comm/t__udp_server
test/comm/t__udp_client2
test/comm/t__udp_server2
test/comm/t__udp_auth_client
test/comm/t__udp_auth_server
test/comm/t__udp_hello_client
test/comm/t__udp_hello_server
test/comm/t__udp_data_client
test/comm/t__udp_data_server
test/common/t__circbuf
test/common/t__mpool
test/common/t__pbuf
test/common/t__pvlist
test/common/t__tbuf
test/common/t__xdrbuf
test/common/t__zfile
test/common/t__logger
test/common/t__str
test/common/t__hash
test/common/t__hash_exp
test/common/t__hash_helpers
test/common/t__inpvec
test/common/t__obj
test/common/t__serial
test/common/t__ustr
test/common/t__binry
test/common/t__dbl
test/common/t__int64
example/ex_sql1
example/ex_sql2
example/ex_thread1
example/ex_zfile1
example/ex_zfile2
test/nthread/t__event
test/nthread/t__mutex
test/nthread/t__pevent
test/nthread/t__pt_mutex
test/nthread/t__thread
test/nthread/t__thrpool
test/sched/t__iface
test/sched/t__item
test/sched/t__peer
test/sched/t__schedule
test/sec/t__bignum
test/sec/t__crypt_buf
test/sec/t__crypt_pkt
test/sec/t__derive_ec_params
test/sec/t__ecdh_key
test/sec/t__ecdh_pkt
test/sec/t__read_x509_cert
test/sec/t__sha1
test/sec/t__umac
test/sec/t__xdr_challenge
test/sec/t__xdr_response
test/db/t__conn
test/db/t__param
test/db/t__reg
test/db/t__sql_helper
test/db/t__sqlite
test/db/t__synqry
test/db/t__tran
test/db/t__var
test/db/*.db
example/ex_thrpool
rpc/csrgen
rpc/csrparser.cc
rpc/experiment/csl_rpc
test/mq/t__qpid_sess
test/comm/t__tcp_libev
test/comm/t__bfd
test/comm/t__tcp_client
test/comm/t__tcp_lstnr
csl.log
TODO.tasks
tags
test/common/t__auto_cloce
test/common/t__queue
test/comm/t__rdbuf
test/comm/t__read_res
test/common/t__rdbuf
test/common/t__read_res
test/db/slt3/t__conn
test/db/slt3/t__query
test/db/slt3/t__reg
test/db/slt3/t__sql_helper
test/db/slt3/t__sqlite
test/db/slt3/t__tran
test/db/slt3/t__var
test/db/slt3/t__query_mem
test/db/slt3/t__var_mem
test/db/t__syntax
common/libev/config.h
test/rpc/hello_cli.cc
test/rpc/hello_cli.hh
test/rpc/hello_srv.cc
test/rpc/hello_srv.hh
test/rpc/hello_srv
test/rpc/hello_cli
/home/li.chen/kk/include/codesloop/common/arch.hh
/home/li.chen/kk/include/codesloop/common/read_res.hh
/home/li.chen/kk/include/codesloop/common/csl_common.hh
/home/li.chen/kk/include/codesloop/common/zfile.hh
/home/li.chen/kk/include/codesloop/common/auto_close.hh
/home/li.chen/kk/include/codesloop/common/test_timer.h
/home/li.chen/kk/include/codesloop/common/tbuf.hh
/home/li.chen/kk/include/codesloop/common/str.hh
/home/li.chen/kk/include/codesloop/common/hash_helpers.hh
/home/li.chen/kk/include/codesloop/common/mpool.hh
/home/li.chen/kk/include/codesloop/common/exc.hh
/home/li.chen/kk/include/codesloop/common/ustr.hh
/home/li.chen/kk/include/codesloop/common/cexc.hh
/home/li.chen/kk/include/codesloop/common/dbl.hh
/home/li.chen/kk/include/codesloop/common/pbuf.hh
/home/li.chen/kk/include/codesloop/common/var.hh
/home/li.chen/kk/include/codesloop/common/inpvec_impl.hh
/home/li.chen/kk/include/codesloop/common/circbuf.hh
/home/li.chen/kk/include/codesloop/common/hlprs.hh
/home/li.chen/kk/include/codesloop/common/pvlist.hh
/home/li.chen/kk/include/codesloop/common/hash.hh
/home/li.chen/kk/include/codesloop/common/binry.hh
/home/li.chen/kk/include/codesloop/common/logger.hh
/home/li.chen/kk/include/codesloop/common/rdbuf.hh
/home/li.chen/kk/include/codesloop/common/queue.hh
/home/li.chen/kk/include/codesloop/common/int64.hh
/home/li.chen/kk/include/codesloop/common/common.h
/home/li.chen/kk/include/codesloop/common/hash_macros.hh
/home/li.chen/kk/include/codesloop/common/tbuf_impl.hh
/home/li.chen/kk/include/codesloop/common/queue_impl.hh
/home/li.chen/kk/include/codesloop/common/xdrbuf.hh
/home/li.chen/kk/include/codesloop/common/serializable.hh
/home/li.chen/kk/include/codesloop/common/inpvec.hh
/home/li.chen/kk/include/codesloop/common/obj.hh
/home/li.chen/kk/lib/libcsl_common.a
/home/li.chen/kk/include/codesloop/common/libev/config.h
/home/li.chen/kk/include/codesloop/common/libev/ev_wrap.h
/home/li.chen/kk/include/codesloop/common/libev/ev.h
/home/li.chen/kk/include/codesloop/common/libev/ev_vars.h
/home/li.chen/kk/include/codesloop/common/libev/ev++.h
/home/li.chen/kk/include/codesloop/common/libev/evwrap.h
/home/li.chen/kk/include/codesloop/common/libev/event.h
/home/li.chen/kk/include/codesloop/common/libev/config.h-Linux-i686
/home/li.chen/kk/lib/libcsl_common_libev.a
/home/li.chen/kk/include/codesloop/comm/udp_recvr.hh
/home/li.chen/kk/include/codesloop/comm/initcomm.hh
/home/li.chen/kk/include/codesloop/comm/connid.hh
/home/li.chen/kk/include/codesloop/comm/exc.hh
/home/li.chen/kk/include/codesloop/comm/udp_auth.hh
/home/li.chen/kk/include/codesloop/comm/tcp_client.hh
/home/li.chen/kk/include/codesloop/comm/tcp_lstnr.hh
/home/li.chen/kk/include/codesloop/comm/udp_hello.hh
/home/li.chen/kk/include/codesloop/comm/handler.hh
/home/li.chen/kk/include/codesloop/comm/udp_data.hh
/home/li.chen/kk/include/codesloop/comm/bfd.hh
/home/li.chen/kk/include/codesloop/comm/csl_comm.hh
/home/li.chen/kk/include/codesloop/comm/sai.hh
/home/li.chen/kk/lib/libcsl_comm.a
/home/li.chen/kk/include/codesloop/sec/crypt_pkt.hh
/home/li.chen/kk/include/codesloop/sec/bignum.hh
/home/li.chen/kk/include/codesloop/sec/csl_sec.hh
/home/li.chen/kk/include/codesloop/sec/umac.h
/home/li.chen/kk/include/codesloop/sec/exc.hh
/home/li.chen/kk/include/codesloop/sec/rijndael-alg-fst.h
/home/li.chen/kk/include/codesloop/sec/umac_ae.h
/home/li.chen/kk/include/codesloop/sec/ecdh_key.hh
/home/li.chen/kk/include/codesloop/sec/csl_sec.h
/home/li.chen/kk/include/codesloop/sec/crypt_buf.hh
/home/li.chen/kk/lib/libcsl_sec.a
/home/li.chen/kk/include/codesloop/nthread/thread.hh
/home/li.chen/kk/include/codesloop/nthread/event.hh
/home/li.chen/kk/include/codesloop/nthread/exc.hh
/home/li.chen/kk/include/codesloop/nthread/csl_nthread.hh
/home/li.chen/kk/include/codesloop/nthread/pevent.hh
/home/li.chen/kk/include/codesloop/nthread/mutex.hh
/home/li.chen/kk/include/codesloop/nthread/thrpool.hh
/home/li.chen/kk/lib/libcsl_nthread.a
/home/li.chen/kk/include/codesloop/db/driver.hh
/home/li.chen/kk/include/codesloop/db/exc.hh
/home/li.chen/kk/include/codesloop/db/query.hh
/home/li.chen/kk/include/codesloop/db/conn.hh
/home/li.chen/kk/include/codesloop/db/tran.hh
/home/li.chen/kk/lib/libcsl_db.a
/home/li.chen/kk/include/codesloop/db/slt3/sqlite3.h
/home/li.chen/kk/include/codesloop/db/slt3/sqlite3ext.h
/home/li.chen/kk/include/codesloop/db/slt3/sql.hh
/home/li.chen/kk/include/codesloop/db/slt3/driver.hh
/home/li.chen/kk/include/codesloop/db/slt3/var.hh
/home/li.chen/kk/include/codesloop/db/slt3/_shared_impl.hh
/home/li.chen/kk/include/codesloop/db/slt3/query.hh
/home/li.chen/kk/include/codesloop/db/slt3/conn.hh
/home/li.chen/kk/include/codesloop/db/slt3/csl_slt3.hh
/home/li.chen/kk/include/codesloop/db/slt3/reg.hh
/home/li.chen/kk/include/codesloop/db/slt3/tran.hh
/home/li.chen/kk/include/codesloop/db/slt3/obj.hh
/home/li.chen/kk/lib/libcsl_db_slt3.a
/home/li.chen/kk/include/codesloop/rpc/iface.hh
/home/li.chen/kk/include/codesloop/rpc/cli_trans_tcp.hh
/home/li.chen/kk/include/codesloop/rpc/stub_client.hh
/home/li.chen/kk/include/codesloop/rpc/exc.hh
/home/li.chen/kk/include/codesloop/rpc/stub_base.hh
/home/li.chen/kk/include/codesloop/rpc/srv_trans.hh
/home/li.chen/kk/include/codesloop/rpc/client_info.hh
/home/li.chen/kk/include/codesloop/rpc/handle.hh
/home/li.chen/kk/include/codesloop/rpc/csrgen.hh
/home/li.chen/kk/include/codesloop/rpc/stub_server.hh
/home/li.chen/kk/include/codesloop/rpc/csrparser.hh
/home/li.chen/kk/include/codesloop/rpc/stub_header.hh
/home/li.chen/kk/include/codesloop/rpc/srv_trans_tcp.hh
/home/li.chen/kk/include/codesloop/rpc/cli_trans.hh
/home/li.chen/kk/bin/csrgen
/home/li.chen/kk/lib/libcsl_rpc.a
*/Testing
*/*/Testing
test/db/t__syntax_cxx_sql
install_manifest.txt
test/db/mysql/t__mysql_conn
