*~
*.swp
*.o
*.a
*.cmake
*.make
*.xdrbin
*.z1
*.kdev4
t__*.exe
ex_*.exe
_site/
*.dir
CMakeCache.txt
CMakeFiles
CMakeFiles/
CMakeFiles/*
cmake_install.cmake
Makefile
*/CMakeCache.txt
*/CMakeFiles
*/CMakeFiles/
*/CMakeFiles/*
*/cmake_install.cmake
*/Makefile
*/CMakeCache.txt
*/CMakeFiles
*/CMakeFiles/
*/CMakeFiles/*
*/cmake_install.cmake
*/Makefile
test/comm/t__comm_iface
test/comm/t__mt_udp
test/comm/t__udp_client
test/comm/t__udp_pkt
test/comm/t__udp_server
test/comm/t__udp_client2
test/comm/t__udp_server2
test/comm/t__udp_auth_client
test/comm/t__udp_auth_server
test/comm/t__udp_hello_client
test/comm/t__udp_hello_server
test/comm/t__udp_data_client
test/comm/t__udp_data_server
test/common/t__circbuf
test/common/t__mpool
test/common/t__pbuf
test/common/t__pvlist
test/common/t__tbuf
test/common/t__xdrbuf
test/common/t__zfile
test/common/t__logger
test/common/t__str
test/common/t__hash
test/common/t__hash_exp
test/common/t__hash_helpers
test/common/t__inpvec
test/common/t__obj
test/common/t__serial
test/common/t__ustr
test/common/t__binry
test/common/t__dbl
test/common/t__int64
example/ex_sql1
example/ex_sql2
example/ex_thread1
example/ex_zfile1
example/ex_zfile2
test/nthread/t__event
test/nthread/t__mutex
test/nthread/t__pevent
test/nthread/t__pt_mutex
test/nthread/t__thread
test/nthread/t__thrpool
test/sched/t__iface
test/sched/t__item
test/sched/t__peer
test/sched/t__schedule
test/sec/t__bignum
test/sec/t__crypt_buf
test/sec/t__crypt_pkt
test/sec/t__derive_ec_params
test/sec/t__ecdh_key
test/sec/t__ecdh_pkt
test/sec/t__read_x509_cert
test/sec/t__sha1
test/sec/t__umac
test/sec/t__xdr_challenge
test/sec/t__xdr_response
test/db/t__conn
test/db/t__param
test/db/t__reg
test/db/t__sql_helper
test/db/t__sqlite
test/db/t__synqry
test/db/t__tran
test/db/t__var
test/db/*.db
common/libev/config.h
example/ex_thrpool
rpc/csrgen
rpc/csrparser.cc
rpc/experiment/csl_rpc
test/mq/t__qpid_sess

